<div class="container">
    <h1 class="text-center">Volvo</h1>
    <h3 class="text-center">Volvo Group</h3>

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
            <a class="navbar-brand" href="#">Volvo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/users">Users</a>
                </li>
                <li>
                    <a routerLink="/add-user">Add</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div class="col-sm-3">
        <h3>List Of Users</h3>
    </div>
    <div class="col-sm-9">
        <div class="pull-right">


            <div class="form-group">
                <label class="col-sm-4 control-label">Search By Name:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search By Name" (keyup)="search(searchText)">
                </div>
                <div class="col-sm-3">
                    <button type="submit" (click)="clear()" class="btn btn-primary">Clear</button>
                </div>
            </div>


        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Sirname</th>
                <th>Birthdate</th>
                <th>Phone</th>
                <th>City</th>
                <th>Street</th>
                <th>Number</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | filter:searchText; let i=index">
                <td>{{i}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.birthDate}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.city}}</td>
                <td>{{user.street}}</td>
                <td>{{user.number}}</td>

                <td>
                    <button type="button" (click)="deleteUser(user)" class="btn btn-primary">Delete</button>
                </td>
                <td>
                    <button type="button" (click)="editUser(user)" class="btn btn-primary">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>