<div class="container">
    <div class="col-sm-12">

        <form class="form-horizontal" [formGroup]="addUser" novalidate>
            <div class="form-group">
                <legend>Add User</legend>
            </div>

            <!-- user Id -->
            <div class="form-group">
                <label for="empId">User Id:</label>
                <input type="number" formControlName="id" placeholder="User Id" name="userId" class="form-control" id="empId">
            </div>

            <!-- user_name -->
            <div class="form-group">
                <label for="empId">User Name:</label>
                <input type="text" formControlName="name" placeholder="User Name" name="user_name" class="form-control">
            </div>

            <!-- user_name -->
            <div class="form-group">
                <label for="empId">Sur Name:</label>
                <input type="text" formControlName="surname" placeholder="User Name" name="user_name" class="form-control">
            </div>

            <!-- date of birth -->
            <div class="form-group">
                <label for="date">Dateofbirth:</label>
                <input type="date" formControlName="birthDate" name="dob" class="form-control" value="" required="required" title="">
            </div>

            <!-- Phone -->
            <div class="form-group">
                <label for="number">Phone:</label>
                <input type="number" formControlName="phone" name="phone" class="form-control" value="" required="required" title="">
            </div>

            <!-- City -->
            <div class="form-group">
                <label for="phone">City:</label>
                <input type="text" formControlName="city" id="phone" class="form-control" value="" required="required" title="">
            </div>

            <!-- Number -->
            <div class="form-group">
                <label for="number">Street:</label>
                <input type="text" formControlName="street" name="phone" class="form-control" value="" required="required" title="">
            </div>

            <!-- Number -->
            <div class="form-group">
                <label for="number">Number:</label>
                <input type="number" formControlName="number" name="number" class="form-control" value="" required="required" title="">
            </div>



            <div class="form-group">
                <button class="btn btn-success" [disabled]='addUser.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Save</button>
                <button class="btn btn-success" [disabled]='addUser.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Update</button>
            </div>
        </form>

    </div>
</div>